<div class="bar">
  <div class="app">
    <img src="../../../assets/logo.png" alt="Logo" />
    <span class="title">ostbook</span>
  </div>
  <div class="right-side">
    <div class="search">
      <img class="mx-1" src="../../../assets/search-icon.png" alt="Search icon">
      <input type="text" placeholder="Search user" [formControl]="searchValue"/>
    </div>
    <a href="https://github.com/shenky1">
      <img
        src="../../../assets/github-logo.png"
        alt="Author's Github profile"
      />
    </a>
    <a href="https://www.linkedin.com/in/matija-%C5%A1elendi%C4%87-70980b16a/">
      <img
        src="../../../assets/linkedin-logo.png"
        alt="Author's Linkedin profile"
      />
    </a>
  </div>
</div>
